.skills {
	background: #fff
}
ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

ul li {
	padding: 20px;
	font-size: 1.3em;
	background-color: #e0edf4;
	border-left: 5px solid #3eb3f6;
	margin-bottom: 2px;;
	color: #3e5252;
}

p {
	text-align: center;
	padding: 30px 0;
	color: gray;
}

.container {
	box-shadow: 0px 0px 40px lightgray;
}